<!DOCTYPE html>
<html>
<head>
    <title>Artist Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="form-container">
        <h2>Artist Login</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="username"username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="password"password" required>
            <button type="submit">Login</button>
        </form>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>