body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:url('https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=600');
    /* opacity:0.3; */
    background-size: cover;
    background-repeat: no-repeat;

}



/* .navber{
    background-color: hsl(0, 1%, 34%);
    color: #fff;
    padding: 10px 0;
    position: sticky;
} */

.form-container {
    background-color: rgb(255, 253, 253);
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 300px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    z-index:1;
    /* background:rgba(255, 255, 255, 0.25); */
    backdrop-filter: blur(5px);

}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-right:5px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

.register-link, .artist-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}
.cart-button
{
    width:250px;
    height:auto;
    border-radius:5px;

}

/* .image{
    width:200px;
    height:100px;

} */